{% extends "base.html" %}
<!--This file extends base.html file-->
{% load static %}
<!--load-->
{% block content %}
<!-- File content -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div
      id="heroCarousel"
      data-bs-interval="5000"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div
          class="carousel-item active"
          style="background-image: url('{% static 'img/slide/slide-1.jpg' %}')"
        >
          <div class="carousel-container">
            <div class="carousel-content">
              <div
                class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start"
              >
                <div class="container">
                  <div class="row">
                    <div class="col-md-8 offset-md-2">
                      {% for message in messages %}
                      <div
                        class="alert {{ message.tags }} alert-dismissible fade show"
                        id="msg"
                        role="alert"
                      >
                        {{ message | safe }}
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="alert"
                          aria-label="Close"
                        ></button>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <h2 class="animate__animated animate__fadeInDown">
                <span>Yummy</span> Restaurant
              </h2>
              <p class="animate__animated animate__fadeInUp">
                Yummy Restaurnat is a place where you can eat different kind of foods that are cooked 
                by our special chefs. It is a beautiful restaurant where you enjoy your meals with your dear
                ones. I suggest to taste Yummy foods and invite your family and friends to one of the best restaurants.
              </p>
              <div>
                <a
                  href="{% url 'home' %}#menu"
                  class="btn-menu animate__animated animate__fadeInUp scrollto"
                  >Our Menu</a
                >
                <a
                  href="{% url 'booking_page' %}"
                  class="btn-book animate__animated animate__fadeInUp scrollto"
                  >Book a Table</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->
<!-- ======= Menu Section ======= -->
<section id="menu" class="menu">
  <div class="container">
    <div class="section-title">
      <h2>Check our tasty <span>Menu</span></h2>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="menu-flters">
          <li data-filter="*" class="filter-active">Show All</li>
          <li data-filter=".filter-starters">Starters</li>
          <li data-filter=".filter-salads">Salads</li>
          <li data-filter=".filter-specialty">Specialty</li>
        </ul>
      </div>
    </div>

    <div class="row menu-container">
      <div class="col-lg-6 menu-item filter-starters">
        <img
          src="{% static 'img/menu/lobster-bisque.jpg' %}"
          alt=""
          class="menu-img"
        />
        <div class="menu-content" id="largefont">
          <a href="#">Lobster Bisque</a><span>$5.95</span>
        </div>
        <div class="menu-ingredients" id="md-font">
          a smooth, creamy soup, made from crustaceans like lobster, crab or
          crayfish
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-specialty">
        <img
          src="{% static 'img/menu/bread-barrel.jpg' %}"
          alt=""
          class="menu-img"
        />
        <div class="menu-content" id="largefont">
          <a href="#">Bread barrel</a><span>$6.95</span>
        </div>
        <div class="menu-ingredients">
          Lorem, deren, trataro, filede, nerada
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-starters">
        <img src="{% static 'img/menu/cake.jpg' %}" alt="" class="menu-img" />
        <div class="menu-content" id="largefont">
          <a href="#">Crab Cake</a><span>$7.95</span>
        </div>
        <div class="menu-ingredients">
          A delicate crab cake served on a toasted roll with lettuce and tartar
          sauce
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-salads">
        <img src="{% static 'img/menu/caesar.jpg' %}" alt="" class="menu-img" />
        <div class="menu-content" id="largefont">
          <a href="#">Caesar Selections</a><span>$8.95</span>
        </div>
        <div class="menu-ingredients">
          Lorem, deren, trataro, filede, nerada
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-specialty">
        <img
          src="{% static 'img/menu/tuscan-grilled.jpg' %}"
          alt=""
          class="menu-img"
        />
        <div class="menu-content" id="largefont">
          <a href="#">Tuscan Grilled</a><span>$9.95</span>
        </div>
        <div class="menu-ingredients">
          Grilled chicken with provolone, artichoke hearts, and roasted red
          pesto
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-starters">
        <img
          src="{% static 'img/menu/mozzarella.jpg' %}"
          alt=""
          class="menu-img"
        />
        <div class="menu-content" id="largefont">
          <a href="#">Mozzarella Stick</a><span>$4.95</span>
        </div>
        <div class="menu-ingredients">
          Lorem, deren, trataro, filede, nerada
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-salads">
        <img
          src="{% static 'img/menu/greek-salad.jpg' %}"
          alt=""
          class="menu-img"
        />
        <div class="menu-content" id="largefont">
          <a href="#">Greek Salad</a><span>$9.95</span>
        </div>
        <div class="menu-ingredients">
          Fresh spinach, crisp romaine, tomatoes, and Greek olives
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-salads">
        <img
          src="{% static 'img/menu/spinach-salad.jpg' %}"
          alt=""
          class="menu-img"
        />
        <div class="menu-content" id="largefont">
          <a href="#">Spinach Salad</a><span>$9.95</span>
        </div>
        <div class="menu-ingredients">
          Fresh spinach with mushrooms, hard boiled egg, and warm bacon
          vinaigrette
        </div>
      </div>

      <div class="col-lg-6 menu-item filter-specialty">
        <img
          src="{% static 'img/menu/lobster-roll.jpg' %}"
          alt=""
          class="menu-img"
        />
        <div class="menu-content" id="largefont">
          <a href="#">Lobster Roll</a><span>$12.95</span>
        </div>
        <div class="menu-ingredients">
          Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Menu Section -->

<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
  <div class="container-fluid">
    <div class="section-title">
      <h2>Some photos from <span>Our Restaurant</span></h2>
      <p>
        These are some photos from our restaurant. They are taken form different
        parts of Yummy Restaurant.
      </p>
    </div>

    <div class="row g-0">
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="{% static 'img/gallery/gallery-1.jpg' %}"
            class="gallery-lightbox"
          >
            <img
              src="{% static 'img/gallery/gallery-1.jpg' %}"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="{% static 'gallery/gallery-2.jpg' %}"
            class="gallery-lightbox"
          >
            <img
              src="{% static 'img/gallery/gallery-2.jpg' %}"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="{% static 'img/gallery/gallery-3.jpg' %}"
            class="gallery-lightbox"
          >
            <img
              src="{% static 'img/gallery/gallery-3.jpg' %}"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="{% static 'img/gallery/gallery-4.jpg' %}"
            class="gallery-lightbox"
          >
            <img
              src="{% static 'img/gallery/gallery-4.jpg' %}"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="{% static 'img/gallery/gallery-5.jpg' %}"
            class="gallery-lightbox"
          >
            <img
              src="{% static 'img/gallery/gallery-5.jpg' %}"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="{% static 'img/gallery/gallery-6.jpg' %}"
            class="gallery-lightbox"
          >
            <img
              src="{% static 'img/gallery/gallery-6.jpg' %}"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="{% static 'img/gallery/gallery-7.jpg' %}"
            class="gallery-lightbox"
          >
            <img
              src="{% static 'img/gallery/gallery-7.jpg' %}"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="{% static 'img/gallery/gallery-8.jpg' %}"
            class="gallery-lightbox"
          >
            <img
              src="{% static 'img/gallery/gallery-8.jpg' %}"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Gallery Section -->

{% endblock %}
