{% extends "base.html" %}
<!--This file extends base.html file-->
{% load static %}
<!--load static-->
{% block content %}
<!-- File content -->

<!--======= Book A Table Section ======= -->
<section id="book-a-table" class="book-a-table">
  <div class="container">
    <div class="section-title">
      
      <h2>Your<span>Bookings</span></h2>
    </div>
    <div class="php-email-form">
      <div class="row">
        {% for booking in bookings %}
        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0 mybookings">
            <div class="section-title">
                <p>{{ booking.name }}</p>
            </div>
            <p>
                <p>On: {{ booking.date }}</p>
                <p>At: {{ booking.time }}</p>
                <p>Guests: {{ booking.person_number }}</p>
                <p>Email:{{ booking.email }}</p>
                <p>Phone: {{ booking.phone }}</p>
            </p>
            <div class="text-center" id="mybuttons">
                <a href="/changeebooking/{{ booking.id }}" class="carousel-content btn-menu animate_animated animate_fadeInUp srollt">
                    Edit
                </a>
            </div>
            <div class="text-center" id="mybuttons">
                <a href="/deletebooking/{{ booking.id }}" class="carousel-content btn-menu animate_animated animate_fadeInUp srollt">
                    Delete
                </a>
            </div>
            
        </div>
        {% empty %} <p>You have no reservations currently</p>
        
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!--End Book A Table Section-->
<!-- ======= Book A Table Section ======= 
<section id="book-a-table" class="book-a-table">
  <div class="container">
    <div class="section-title">
      <h2>Book a <span>Table</span></h2>
      <p>
        You can fill in the form and reserve a table.
      </p>
    </div>

    <form
      action="{% url 'booking_page' %}"
      method="post"
      role="form"
      class="php-email-form"
    >
      <div class="row">
        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        </div>
        
            
        
        
      <div class="text-center"><button type="submit">Submit Form</button></div>
    </form>
    
  </div>
</section>-->
<!-- End Book A Table Section -->
{% endblock %}
